<h1 class="centertext-services">All services</h1>
  <ul class="cards">
    <% @services.each do |service| %>
      <li>
        <div class="card">
                <%= image_tag "charliep.jpeg", class:"artistpic"%>
                <div class="centertext">
                  <h5>Saxophone player</h5>
                    <div class="servicetext">
                      <p><%= service.details %></p>
                        <p>Genre: <%= link_to service.genre, service_path(service) %></p>
                    </div>
                </div>
            </div>
      </li>
    <% end %>
  </ul>
<%= link_to "Add a service", new_service_path %>
