<h1 class="centertext-services">
  <i class="fa-solid fa-microphone-lines"></i>
  <strong>Check out our artists</strong>
</h1>

  <ul class="cards">
    <% @services.each do |service| %>
      <%= link_to service_path(service) do %>

          <div class="card">
                  <%= cl_image_tag service.user.photo.key %>
                  <div class="centertext">
                    <h5>
                     <strong><%= service.user.name %></strong>
                    </h5>
                      <div class="servicetext">
                          <h3><%= service.genre %></h3>
                      </div>
                  </div>
              </div>

      <% end %>
    <% end %>
  </ul>
