<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://media.istockphoto.com/id/1331158699/es/foto/hombre-africano-tocando-suavemente-el-piano.jpg?s=1024x1024&w=is&k=20&c=ErUHBkHqNNOq5YI-5se3sG66n1hjV9QPTxFlbloUa4I=');">
  <div class="container">
    <h1><%= @service.genre %></h1>
  </div>
</div>
