h2{
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  color: aliceblue;
}
h3 {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: aliceblue;
}


.screen {
  display: flex;
  flex-direction: column;
  background-color: black;
  min-height: 100vh;
}

.banner {
  display: flex;
  align-items: center;
  height: 350px;
  color: #ffffff;
  align-items: flex-end;
  padding-left: 40px;
  padding-bottom: 40px;
  background-position: center;
  justify-content: space-between;
  padding-right: 30px;
  margin-bottom: 40px;
}

.artist-info {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  width: 85%;
  margin: 10px auto;
}

.info {
  padding: 20px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  justify-content: flex-start;
}

.bookings {
  padding: 20px;
  color: #ffffff;
  margin-right: 5px;
  margin-left: 5px;
  justify-content: center;
}

.songs {
  display: flex;
  padding: 20px;
  color: #ffffff;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.spotify {
  padding: auto;
}

.new_booking_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

// background-color: #1F1E1E;
