.screen {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: 30px auto;
  flex-direction: column;
}

.banner {
  display: flex;
  align-items: center;
  height: 350px;
  background-color: #242b2c;
  color: #ffffff;
  align-items: flex-end;
  border-radius: 10px;
  box-shadow: 8px 8px 15px rgb(91, 88, 88);
  padding-left: 40px;
  background-position: center;
  justify-content: space-between;
  padding-right: 30px;
}

.info {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
