h2{
  font-family: 'Inter', sans-serif;
  font-size: 50px;
}
h3 {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}


.screen {
  display: flex;
  flex-direction: column;
  background-color: black;
  min-height: 100vh;
}

.banner {
  display: flex;
  align-items: center;
  height: 350px;
  color: #ffffff;
  align-items: flex-end;
  padding-left: 40px;
  padding-bottom: 40px;
  background-position: center;
  justify-content: space-between;
  padding-right: 30px;
}

.artist-info {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.info {
  padding: 20px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  background-color: #1F1E1E;
  margin-left: 100px;
  border-radius: 20px;
  justify-content: flex-start;
}

.bookings {
  padding: 20px;
  background-color: #1F1E1E;
  color: #ffffff;
  border-radius: 20px;

}

.songs {
  display: flex;
  padding: 20px;
  background-color: #1F1E1E;
  padding-right: 60px;
  color: #ffffff;
  margin-right: 100px;
  border-radius: 20px;
  justify-content: center;
  flex-direction: column;
}

.spotify {
  padding: auto;
}
