<footer class="footer mt-auto py-3 bg-light">
  <div class="container footer">
    <span class="text-muted">Kitson, Martinez, Semper, Micolini 2022</span>
    <i class="fa-solid fa-drum"></i>
  </div>
</footer>
