.centertext {
  text-align: center;
  background-color: black;
}

.centertext-services {
  text-align: center;
  background-color: black;
  color:white;
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  margin: 0;
}
