.centertext {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  color: white;
  margin: 20px;
  height: 100%;
}

.centertext-services {
  text-align: center;
  background-color: black;
  color:white;
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  margin: 20px;
}
