.centertext {
  text-align: center;
  color: white;
  height: 100%;
}

.centertext-services {
  text-align: center;
  color:white;
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  background-color: rgba(32, 32, 32, 0.5);
  margin: 20px 0 20px 0;
}

h5 {
  font-size: 30px;
  font-family: 'Inter', sans-serif;;
}

h3 {
  font-size: 20px;
  font-family: 'Inter', sans-serif;;
}
