.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: black;
  color: white;
}

.bg-light {
  background-color: transparent !important;
}
