.form {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 118px;

}

.buttoncontainer {
  display: flex;
  justify-content: center;
}

.signup {
  display: flex;
  align-content: stretch;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}
