.form {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 118px;
}


.buttoncontainer {
  display: flex;
  justify-content: center;
}

.signup {
  display: flex;
  align-content: stretch;
  align-items: center;
  justify-content: center;
  margin-top: 16px;

  a {
    text-decoration: none;
    color: white;
  }

}

.form-inputs {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

.form-actions {
  justify-content: center;
  display: flex;
}

// .form-control {
//   width: 70%;
//   margin: 10px auto 10px auto;
// }
