.form {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 118px;

}

.buttoncontainer {
  display: flex;
  justify-content: center;
}

.signupforgot {
  display: flex;
  align-content: stretch;
  align-items: center;
}
