.navbar-lewagon {
  justify-content: space-between;
  background: rgb(0, 0, 0);
  position: sticky;
  top: 0;
  z-index: 100;
  color: white;
  padding-left: 30px;
  padding-right: 40px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: orange !important;
}

h5 {
  color: white;
  font-family: 'Inter', sans-serif;
}
